<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <title>Sign Up | Code Blog</title>
    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
        type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" />

    <!-- Bootstrap core CSS -->
    <link href=" {{ url_for('static', filename='css/bootstrap.min.css') }} " rel="stylesheet" />

    <!-- BSB -Start -->
    <!-- Waves Effect Css -->
    <link href="{{ url_for('static', filename='plugins/node-waves/waves.css') }}" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="{{ url_for('static', filename='plugins/animate-css/animate.css') }}" rel="stylesheet" />

    <!-- Bsb Css -->
    <link href="../static/vendor/bsb/css/style.css" rel="stylesheet" />
    <!-- BSB - End -->
</head>

<body>
    <main class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class=" mt-2 alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
        <div>
            {% block content %}

            {% endblock %}
        </div>
    <!-- Jquery Core Js -->
    <script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>

    <!-- BSB Js - Start -->
    <!-- Waves Effect Plugin Js -->
    <script src="{{ url_for('static', filename='plugins/node-waves/waves.js') }}" rel="stylesheet"></script>

    <!-- Validation Plugin Js -->
    <script src=" {{ url_for('static', filename='plugins/jquery-validation/jquery.validate.js') }} "></script>

    <!-- Custom Js -->
    <script src=" {{ url_for('static', filename='js/admin.js') }} "></script>
    <script src="{{ url_for('static', filename='js/pages/sign-up.js') }}" rel="stylesheet"></script>
    <script src="{{ url_for('static', filename='js/pages/sign-in.js') }}" rel="stylesheet"></script>
    <!-- BSB Js - End -->
</body>

</html>