{% extends 'accounts/base.html' %}
{% block page_wise_css %} 

{% endblock page_wise_css %}
{% block content %}
<div class="login-page">
    <div class="login-box">
        <div class="logo">
            <a href="{{ url_for('main.home') }}" class="text-danger waves-effect" style="color: #E91E63;"><b>CODE BLOG</b></a>
            <small class="text-info">A coding platform</small>
        </div>
        <div class="card">
            <div class="body">
                <form id="sign_in" method="POST" action="">
                    {{ form.hidden_tag() }}
                    <div class="msg">Sign in to start your session</div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            {% if form.email.errors %}
                                {{ form.email(class="form-control", placeholder="Email", autofocus="on") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form.email(class="form-control", placeholder="Email", autofocus="on") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            {% if form.email.errors %}
                                {{ form.password(class="form-control", placeholder="Password", autofocus="on") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form.password(class="form-control", placeholder="Password", autofocus="on") }}
                            {% endif %}
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 p-t-5">
                            {{ form.rememberme(class="filled-in chk-col-pink") }}
                            {{ form.rememberme.label() }}
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-block bg-pink waves-effect" type="submit">SIGN IN</button>
                        </div>
                    </div>
                    <div class="row m-t-15 m-b-20">
                        <div class="col-6">
                            <a href="{{ url_for('users.register') }}">Register Now!</a>
                        </div>
                        <div class="col-6 align-right">
                            <a href="{{ url_for('users.password_reset_request') }}">Forgot Password?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}