<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Signin Template · Bootstrap v5.0</title>

    <!-- Bootstrap core CSS -->
    <link href=" {{ url_for('static', filename='css/bootstrap.min.css') }} " rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href=" {{ url_for('static', filename='css/signin.css') }} " rel="stylesheet" />
</head>

<body class="text-center">
    <main class="form-signin">
        <div class="row">
            <div class="col-12 justify-content-center">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class=" mt-2 alert alert-{{ category }}">
                      {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
            </div>
        </div>
        <div class="">
            <a  class="text-decoration-none" href="{{ url_for('main.home') }}">
                <h1 class="text-danger"><strong>CODE BLOG</strong></h1>
            </a>
            <small class="text-info">A coding platform</small>
        </div>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="card text-center">
                <div class="card-body">
                    <p class="card-text text-secondary">
                        Enter your email address that you used to register. We'll send you an email with your
                        username and a link to reset your password.
                    </p>
                    <div class="form-floating mb-2">
                        {% if form.email.errors %}
                            {{ form.email(class="form-control is-invalid") }}
                            {{ form.email.label() }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.email(class="form-control") }}
                            {{ form.email.label() }}
                        {% endif %}
                    </div>
                    {{ form.submit(class="w-100 btn btn-md btn-primary") }}
                </div>
                <!-- <div class="card-footer text-muted">
                    &copy; Code Blog - 2021
                </div> -->

            </div>
            <p class="mt-5 mb-3 text-muted">&copy; Code Blog – 2021</p>
        </form>
    </main>
</body>

</html>