{% extends 'base.html' %}

{% block content %}
<div class="row g-5">
    <div class="col-sm-12 col-md-5 col-lg-4">
        <div class="card position-sticky" style="top: 2rem;">
          <div class="card-body">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <img src="{{ url_for('static', filename='profile_pic/' + current_user.image) }}" class="rounded mx-auto d-block rounded-circle border" width="150" height="150" alt="...">
                <div class="text-center mt-3">
                    <h5 class="card-title">{{ current_user.username }}</h5>
                    <p>{{ current_user.email }}</p>
                    <a href="{{ url_for('users.update_profile') }}" class="text-primary text-decoration-none">Edit</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-sm-12 col-md-7 col-lg-8">
      <div class="row mb-2">
        {% for post in posts.items %}
        <div class="col-md-12" hx-target="this" hx-swap="outerHTML">
          <div
            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-white">
            <div class="col p-4 d-flex flex-column position-static">
              <div class="border-bottom mb-3 p-1 d-flex justify-content-between align-items-center">
                <div>
                  <img src="{{ url_for('static', filename='profile_pic/' + post.author.image) }}" alt="mdo" width="32"
                    height="32" class="rounded-circle">

                  <strong class="d-inline-block mb-2 text-primary"> {{ post.author.username|capitalize }} </strong>
                  <span class="mb-1 text-muted"> | {{ post.created_at.strftime('%d %b, %y') }} </span>
                  <span class="mb-1 text-muted"> | <i class="fas fa-globe-asia"></i> </span>
                </div>
                {% if post.author == current_user %}
                <div class="p-1">
                  <div class="dropdown">
                    <a href="javascript:void(0)" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a href="{{ url_for('posts.post_update', id=post.id) }}" class="text-primary dropdown-item"><i class="fas fa-edit"></i> Edit</a></li>
                      <li><a hx-post="{{ url_for('posts.post_delete', id=post.id) }}" hx-confirm="Are you sure you wish to delete?" href="javascript:void(0)" class="text-danger dropdown-item"><i class="fas fa-trash"></i> Delete</a></li>
                    </ul>
                  </div>
                </div>
                {% endif %}
              </div>
              <!-- Post Tags  -->
              <div class="text-end">
                {% for tag in post.tags %}
                <a href="{{ url_for('tags.post_by_tag', slug=tag.slug) }}"><span class="badge bg-secondary">{{ tag.slug }}</span></a>
                {% endfor %}
              </div>
              <!-- ./Post Tags  -->
              <article class="blog-post">
                <h5 class="mb-1"> {{ post.title }} </h5>
                <p>
                  {{ post.summary }}
                  <a href=" {{ url_for('posts.post_detail', id=post.id) }} ">Continue reading</a>
                </p>
              </article>
            </div>
            <!-- Like and Comment Section -->
            <div class="d-flex justify-content-around p-3 bg-light">
              <!-- Like  -->
              <div hx-target="this" hx-swap="outerHTML" 
                data-toggle="tooltip" 
                data-placement="top" 
                title="Please login first to like.">
                <a class="text-decoration-none 
                  {% if not current_user.is_authenticated %}btn disabled{% endif %}"
                    hx-post="{{ url_for('posts.like_or_dislike', id=post.id) }}" 
                    href="javascript:void(0)">
                  {% if post.user_has_like %}
                    <i class="fas fa-heart fa-md text-danger"></i>
                  {% else %}
                    <i class="fas fa-heart fa-md text-secondary"></i>
                  {% endif %}
                </a>
                <span class="ml-2">{{ post.total_likes or 0 }}</span>
              </div>
              <!-- Comment  -->
             <div data-toggle="tooltip" data-placement="top" title="Please login first to comment.">
              <a class="{% if not current_user.is_authenticated %}btn disabled{% endif %}" 
                href="{{ url_for('posts.post_detail', id=post.id) }}#comment-section">
                <i class="fas fa-comment-alt fa-md text-secondary"></i></a>
              <span class="ml-2">{{ post.comments.__len__() }}</span>
             </div>
            </div>
            <!-- ./Like and Comment Section -->
          </div>
        </div>
        {% endfor %}
      </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            {% if posts.has_prev %}
              <li class="page-item">
                <a class="page-link" href="{{ url_for('users.profile', page=posts.prev_num) }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="{{ url_for('users.profile', page=posts.prev_num) }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
            {% endif %}
    
            {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
              {% if page_num %}
                {% if posts.page == page_num %}
                  <li class="page-item active" aria-current="page"><a class="page-link active" href="{{ url_for('users.profile', page=page_num) }}">{{ page_num }}</a></li>
                {% else %}
                  <li class="page-item"><a class="page-link" href="{{ url_for('users.profile', page=page_num) }}">{{ page_num }}</a></li>
                {% endif %}          
              {% endif %}
            {% endfor %}
            {% if posts and posts.has_next %}
              <li class="page-item">
                <a class="page-link" href="{{ url_for('users.profile', page=posts.next_num) }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>
</div>
{% endblock content %}