{% extends 'accounts/base.html' %}

{% block content %}
<div class="signup-page">
    <div class="signup-box">
        <div class="logo">
            <a href="{{ url_for('main.home') }}" class="text-danger waves-effect" style="color: #E91E63;"><b>CODE BLOG</b></a>
            <small class="text-info">A coding platform</small>
        </div>
        <div class="card">
            <div class="body">
                <form id="sign_up" method="POST" action="">
                    {{ form.hidden_tag() }}
                    <div class="msg">Register a new membership</div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            {% if form.username.errors %}
                            {{ form.username(class="form-control is-invalid", placeholder="Username", autofocus="on") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.username(class="form-control", placeholder="Username", autofocus="on") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-line">
                            {% if form.email.errors %}
                            {{ form.email(class="form-control is-invalid", placeholder="Email", autofocus="on") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.email(class="form-control", placeholder="Email", autofocus="on") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            {% if form.password.errors %}
                            {{ form.password(class="form-control is-invalid", placeholder="Password") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.password(class="form-control", placeholder="Password") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control is-invalid", placeholder="Confirm Password") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="row m-t-15 m-b-20 align-items-center">
                        <div class="col-3">
                            {{ form.submit(class="btn btn-block btn-lg bg-pink waves-effect") }}
                        </div>
                        <div class="col-9 align-right">
                            <a href="{{ url_for('users.login') }}">You already have a membership?</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}