<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Password Reset</title>

    <!-- Bootstrap core CSS -->
    <link href=" {{ url_for('static', filename='css/bootstrap.min.css') }} " rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href=" {{ url_for('static', filename='css/signin.css') }} " rel="stylesheet" />
</head>

<body class="text-center">

    <main class="form-signin">
        <div class="">
            <h1 class="text-danger">Code <strong>Blog</strong></h1>
            <small class="text-info">A coding platform</small>
        </div>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="card text-center">
                <div class="card-body">
                    <div class="form-floating">
                        {{ form.password.label() }}
                        {% if form.password.errors %}
                            {{ form.password(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.password(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-floating">
                        {{ form.confirm_password.label() }}
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.confirm_password(class="form-control") }}
                        {% endif %}
                    </div>
                    {{ form.submit(class="w-100 btn btn-md btn-primary") }}
                </div>
                <!-- <div class="card-footer text-muted">
                    &copy; Code Blog - 2021
                </div> -->

            </div>
            <p class="mt-5 mb-3 text-muted">&copy; Code Blog – 2021</p>
        </form>
    </main>
</body>

</html>