{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-header">
        <strong>{{ tag.name }}</strong>
    </div>
    <ul class="list-group list-group-flush">

        {% for post in posts %}
            {% if post.is_public %}
            <li class="list-group-item">
                <a class="link" href="{{ url_for('posts.post_detail', id=post.id) }}">{{ post.title }}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}