{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="card mx-auto mb-3 col-12" style="width: 40rem;">
        <h5 class="card-title px-3 pt-3 text-secondary"><strong>{% if form.name.data %} Update Tag {% else %} Create Tag {% endif %}</strong></h5>
        <div class="card-body">
            {{ form.language }}
            <form method="post">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.name.label(for="name", class="form-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control") }}
                    {% endif %}
                </div>
                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>
    </div>    
</div>


{% endblock %}