{% extends 'base.html' %}
{% block content %}
<div class="col-md-12" hx-target="this" hx-swap="outerHTML">
  <div class="row g-0 border rounded overflow-hidden flex-md-row  shadow-sm h-md-250 position-relative bg-white">
    <div class="col p-4 d-flex flex-column position-static">
      <div class="border-bottom mb-3 p-1 d-flex justify-content-between align-items-center">
        <div>
          <img src="{{ url_for('static', filename='profile_pic/' + post.author.image) }}" alt="mdo" width="32"
            height="32" class="rounded-circle">
          <strong class="d-inline-block mb-2 text-primary"> {{ post.author.username }} </strong>
          <span class="mb-1 text-muted"> | {{ post.created_at.strftime('%d %b, %Y') }} </span>
          {% if post.is_public %}
          <span class="mb-1 text-muted"> | <i class="fas fa-globe-asia"></i> </span>
          {% else %}
          <span class="mb-1 text-muted"> | <i class="fas fa-lock"></i> </span>
          {% endif %}
        </div>
        {% if post.author == current_user %}
        <div class="p-1">
          <div class="dropdown">
            <a href="javascript:void(0)" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><i
                class="fas fa-ellipsis-v"></i></a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a href="{{ url_for('posts.post_update', id=post.id) }}" class="text-primary dropdown-item"><i
                    class="fas fa-edit"></i> Edit</a></li>
              <li><a hx-post="{{ url_for('posts.post_delete', id=post.id) }}"
                  hx-confirm="Are you sure you wish to delete?" href="javascript:void(0)"
                  class="text-danger dropdown-item"><i class="fas fa-trash"></i> Delete</a></li>
            </ul>
          </div>
        </div>
        {% endif %}
      </div>

      <!-- Post Tags  -->
      <div class="text-end">
        {% for tag in post.tags %}
        <a href="{{ url_for('tags.post_by_tag', slug=tag.slug) }}"><span class="badge bg-secondary">{{ tag.name }}</span></a>
        {% endfor %}
      </div>
      
      <!-- ./Post Tags  -->
      <article class="blog-post">
        <h3 class="mb-1"> {{ post.title }} </h3>
        <p>{{ post.summary }}</p>
        <p class="card-text mb-auto"> {{ post.content|safe }} </p>
      </article>
    </div>

    <!-- Like and Comment Section -->
    <div class="d-flex justify-content-around p-3 bg-light">
      <div hx-target="this" 
            hx-swap="outerHTML"
            data-toggle="tooltip" 
            data-placement="top" 
            title="Please login first to like.">
          <a class="text-decoration-none 
          {% if not current_user.is_authenticated %}btn disabled{% endif %}"
          hx-post="{{ url_for('posts.like_or_dislike', id=post.id) }}" 
          href="javascript:void(0)">
          {% if post.user_has_like %}
            <i class="fas fa-heart fa-md text-danger"></i>
          {% else %}
              <i class="fas fa-heart fa-md text-secondary"></i>
          {% endif %}
        </a>
        <span class="ml-2">{{ post.likes.__len__() }}</span>
      </div>
      <div data-toggle="tooltip" data-placement="top" title="Please login first to comment">              
        <a class="{% if not current_user.is_authenticated %}btn disabled{% endif %}" 
          href="#comment-section">
        <i class="fas fa-comment-alt fa-md text-secondary"></i></a>
        <span class="ml-2">{{ post.comments.__len__() }}</span>
      </div>
    </div>
    <!-- ./Like and Comment Section -->

    <!-- Comment form and nested comment form  -->
    <div class="col-md-12" id="comment-section">
      <form action="{{ request.path }}" method="POST">
        {{ commentForm.csrf_token }}
        <div class="p-4">
          <div class="form-group">
            {% if not current_user.is_authenticated %}
              <textarea 
                class="form-control" 
                id="reply" name="reply" 
                rows="3" 
                placeholder="Write a comment"
                data-toggle="tooltip" 
                data-placement="top" 
                title="Please login first to comment" 
                readonly>
              </textarea>
            {% else %}
              {{commentForm.comment(class="form-control", rows="3", placeholder="Write a comment")}}
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary mt-2"> <i class="fas fa-paper-plane"></i> Submit</button>
              </div>
            {%endif%}
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="shadow-sm p-4 col-lg-12 col-sm-6" style="background: #eee;">
    {% for comment in comments %}
    <div class="row" hx-target="this"
    hx-swap="afterend">
      {% if comment.level() == 0 %}
      <div class="col-12 border-start border-primary mb-4 border-3 ">
        {% include 'posts/partial/comments.html' %}
        {% elif comment.level() == 1 %}
        <div class="col-11 offset-1 border-start border-secondary mb-4 border-3">
          {% include 'posts/partial/comments.html' %}
          {% elif comment.level() == 2 %}
          <div class="col-10 offset-2 border-start border-success mb-4 border-3">
            {% include 'posts/partial/comments.html' %}
            {% elif comment.level() == 3 %}
            <div class="col-9 offset-3 border-start border-info mb-4 border-3">
              {% include 'posts/partial/comments.html' %}
              {% elif comment.level() == 4 %}
              <div class="col-8 offset-4 border-start border-primary mb-4 border-3">
                {% include 'posts/partial/comments.html' %}
                {% else %}
                  <div class="col-7 offset-5 border-start border-danger mb-4 border-3">
                    <div class="mb-2">
                      <div>
                          <img src="{{ url_for('static', filename='profile_pic/' + comment.user.image) }}" alt="mdo" width="32"
                              height="32" class="rounded-circle">
                          <strong class="d-inline-block mb-2 text-primary"> {{ comment.user.username }} </strong>
                          <span class="mb-1 text-muted"> | {{ post.created_at.strftime('%d %b, %Y') }} </span>
                          {% if post.is_public %}
                          <span class="mb-1 text-muted"> | <i class="fas fa-globe-asia"></i> </span>
                          {% else %}
                          <span class="mb-1 text-muted"> | <i class="fas fa-lock"></i> </span>
                          {% endif %}
                      </div>
                      <p class="m-0">{{comment.text}}</p>
                  </div>
                  {% endif %}
                  <!-- ./ Nested Comments -->
                  
      </div> <!-- ./ col -->
    </div> <!--  ./ row -->
      {% endfor %} 
  </div> <!-- ./shadow -->

</div>
{% block page_wise_js %}<script>
  $( ".reply" ).submit(function( event ) {
    event.preventDefault();
    $(this).parent().removeClass('show')
  });
  $('[data-toggle="tooltip"]').tooltip()
</script> {% endblock page_wise_js %}

{% endblock %}

