{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="card mx-auto mb-3 col-12" style="width: 40rem;">
        <h5 class="card-title px-3 pt-3 text-secondary"><strong>{% if form.title.data %} Update Post {% else %} Create
                Post {% endif %}</strong></h5>
        <div class="card-body">
            {{ form.language }}
            <form method="post">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.category.label(for="category", class="form-label") }}
                    {% if form.category.errors %}
                    {{ form.category(class="form-control form-select is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.category.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.category(class="form-control form-select") }}
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.title.label(for="title", class="form-label") }}
                    {% if form.title.errors %}
                    {{ form.title(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.title(class="form-control") }}
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.summary.label(class="form-control-label") }}
                    {% if form.summary.errors %}
                    {{ form.summary(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.summary.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.summary(class="form-control form-control-lg", rows="6") }}
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.content.label(class="form-control-label") }}
                    {% if form.content.errors %}
                    {{ form.content(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.content(class="form-control form-control-lg", rows="6") }}
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="tag" class="form-label">Tag</label>
                    <select class="js-tag form-select form-select-lg mb-3" name="tags" multiple="multiple">
                        {% for item in tags %}
                            {% if post %}
                                {% if item in post.tags %}
                                    <option value="{{item.id}}" selected>{{ item.name }}</option>
                                {% else %}
                                    <option value="{{item.id}}">{{ item.name }}</option>
                                {% endif %}
                            {% else %}
                                <option value="{{item.id}}">{{ item.name }}</option>
                                
                            {% endif %}
                        {% endfor %}     
                    </select>
                </div>

                <div class="mb-3">
                    {{ form.public(class="form-check-input") }}
                    {{ form.public.label() }}
                </div>
                {{ form.submit(class="btn btn-primary") }}
            </form>
            {{ ckeditor.config(name='content') }}
        </div>
    </div>
</div>


{% endblock %}