{% extends 'base.html' %}
{% block content %}

<div class="row g-5">
    <div class="col-sm-12 mx-auto p-3 bg-white">
        <table id="example-datatable" class="table row-border responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ip</th>
                    <th>Path</th>
                    <th>User</th>
                    <th>Created at</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Ip</th>
                    <th>Path</th>
                    <th>User</th>
                    <th>Created at</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>



{% endblock %}
{% block page_wise_js %}
<script src="{{ url_for('static', filename='js/example-datatable.js') }}"></script>
{% endblock page_wise_js %}