<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon-->
  <link rel="icon" href="../../favicon.ico" type="image/x-icon">

  {% if title %}
  <title>Code Blog - {{ title }}</title>
  {% else %}
  <title>Code Blog</title>
  {% endif %}

  {{ ckeditor.load() }}
  {{ ckeditor.load_code_theme() }}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
  
  <!-- Bootstrap core CSS -->
  <link href=" {{ url_for('static', filename='css/bootstrap.min.css') }} " rel="stylesheet">

  <!-- Datatable CSS - CDN  -->
  <link href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap5.min.css" rel="stylesheet">

  
  <!-- Font Awesome -->
  <link href=" {{ url_for('static', filename='plugins/fontawesome-free/css/all.min.css') }} " rel="stylesheet">

  <!-- Select2 - Css -  jQuery -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

  <!-- Custom Css -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

  {% block page_wise_css %} {% endblock page_wise_css %}


  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>

<body class="signup-page">
  {% include 'navbar.html' %}
  <main class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div>
      {% block content %}{% endblock content %}
    </div>

    <footer class="blog-footer text-center">
      <p>Code Blog © 2021
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
  </main>


    <!-- jQuery -->
    <script src=" {{ url_for('static', filename='plugins/jquery/jquery.min.js') }} "></script>

  <!-- Bootstrap Core Js -->
  <script src=" {{ url_for('static', filename='js/bootstrap.bundle.min.js') }} "></script>

  <!-- Code Snippet - ckeditor -->
  <script src=" {{ url_for('static', filename='plugins/codesnippet/plugin.js') }} "></script>

  <!-- Sweet Alert-2 Cdn -->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!-- HTMX cdn -->
  <script src=" {{ url_for('static', filename='js/htmx.min.js') }} "></script>

  <!-- Select2 - Css -  jQuery -->
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
 
  <!-- DataTables.min.js -->
  <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>

  <!-- DataTables.min.js -->
  <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>

  <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
  
  <!-- Main js  -->
  <script src=" {{ url_for('static', filename='js/main.js') }} "></script>
  
  <!-- Page-wise Js -->
  {% block page_wise_js %} {% endblock page_wise_js %}
</body>

</html>