{% extends 'base.html' %}
{% block content %}
<div class="row g-5">
  <div class="col-md-8">
      <div class="row mb-2">
        {% for post in posts.items %}
        <div class="col-md-12" hx-target="this" hx-swap="outerHTML">
          <div
            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-white">
            <div class="col p-4 d-flex flex-column position-static">
              <div class="border-bottom mb-3 p-1 d-flex justify-content-between align-items-center">
                <div>
                  <img src="{{ url_for('static', filename='profile_pic/' + post.author.image) }}" alt="mdo" width="32"
                    height="32" class="rounded-circle">

                  <strong class="d-inline-block mb-2 text-primary"> {{ post.author.username|capitalize }} </strong>
                  <span class="mb-1 text-muted"> | {{ post.created_at.strftime('%d %b, %y') }} </span>
                  <span class="mb-1 text-muted"> | <i class="fas fa-globe-asia"></i> </span>
                </div>
                {% if post.author == current_user %}
                <div class="p-1">
                  <div class="dropdown">
                    <a href="javascript:void(0)" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a href="{{ url_for('posts.post_update', id=post.id) }}" class="text-primary dropdown-item"><i class="fas fa-edit"></i> Edit</a></li>
                      <li><a hx-post="{{ url_for('posts.post_delete', id=post.id) }}" hx-confirm="Are you sure you wish to delete?" href="javascript:void(0)" class="text-danger dropdown-item"><i class="fas fa-trash"></i> Delete</a></li>
                    </ul>
                  </div>
                </div>
                {% endif %}
              </div>
              <!-- Post Tags  -->
              <div class="text-end">
                {% for tag in post.tags %}
                <a href="{{ url_for('tags.post_by_tag', slug=tag.slug) }}"><span class="badge bg-secondary">{{ tag.slug }}</span></a>
                {% endfor %}
              </div>
              <!-- ./Post Tags  -->
              <article class="blog-post">
                <h3 class="mb-1"> {{ post.title }} </h3>
                <p>
                  {{ post.summary }}
                  <a href=" {{ url_for('posts.post_detail', id=post.id) }} ">Continue reading</a>
                </p>
              </article>
            </div>
            <!-- Like and Comment Section -->
            <div class="d-flex justify-content-around p-3 bg-light">
              <!-- Like  -->
              <div hx-target="this" hx-swap="outerHTML" 
                data-toggle="tooltip" 
                data-placement="top" 
                title="Please login first to like.">
                <a class="text-decoration-none 
                  {% if not current_user.is_authenticated %}btn disabled{% endif %}"
                    hx-post="{{ url_for('posts.like_or_dislike', id=post.id) }}" 
                    href="javascript:void(0)">
                  {% if post.user_has_like %}
                    <i class="fas fa-heart fa-md text-danger"></i>
                  {% else %}
                    <i class="fas fa-heart fa-md text-secondary"></i>
                  {% endif %}
                </a>
                <span class="ml-2">{{ post.total_likes or 0 }}</span>
              </div>
              <!-- Comment  -->
             <div data-toggle="tooltip" data-placement="top" title="Please login first to comment.">
              <a class="{% if not current_user.is_authenticated %}btn disabled{% endif %}" 
                href="{{ url_for('posts.post_detail', id=post.id) }}#comment-section">
                <i class="fas fa-comment-alt fa-md text-secondary"></i></a>
              <span class="ml-2">{{ post.comments.__len__() }}</span>
             </div>
            </div>
            <!-- ./Like and Comment Section -->
          </div>
        </div>
        {% endfor %}
      </div>
    {% if posts.items.count %}
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if posts.has_prev %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for('main.home', page=posts.prev_num) }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="{{ url_for('main.home', page=posts.prev_num) }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% endif %}

        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if page_num %}
            {% if posts.page == page_num %}
              <li class="page-item active" aria-current="page"><a class="page-link active" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a></li>
            {% endif %}          
          {% endif %}
        {% endfor %}
        {% if posts.has_next %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for('main.home', page=posts.next_num) }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
  </div>
  
  <div class="col-md-4">
    <div class="position-sticky" style="top: 2rem;">
      <div class="p-4 mb-3 bg-white rounded">
        <h4 class="fst-italic">About</h4>
        <p class="mb-0"><strong>Code Blog</strong> 
          is a coding platform where you can share your coding knowledge with others or you can learn from others... 
          <a href="{{ url_for('main.about') }}">Read more</a> 
        </p>
      </div>

      <div class="p-4 bg-white rounded">
        <h4 class="fst-italic">Categories</h4>
        <nav class="nav flex-column">
          {% for item in categories %}
            <a class="nav-link" href="{{ url_for('categories.category_detail', id=item.id) }}">{{ item.name }}  <span class="text-danger">({{ item.posts.__len__() }})</span></a> 
          {% endfor %}
        </nav>
      </div>
    </div>
  </div>
</div>
{% endblock content %}