{% extends 'base.html' %}
{% block content %}
<div class="row g-5">
  <div class="col-md-8">
    <div class="row mb-2">
      {% for post in posts.items %}
      <div class="col-md-12" hx-target="this" hx-swap="outerHTML">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-white">
          <div class="col p-4 d-flex flex-column position-static">
            <div class="border-bottom mb-3 p-1 d-flex justify-content-between align-items-center">
              <div>
                <img src="{{ url_for('static', filename='profile_pic/' + post.author.image) }}" alt="mdo" width="32"
                  height="32" class="rounded-circle">

                <strong class="d-inline-block mb-2 text-primary"> {{ post.author.username }} </strong>
                <span class="mb-1 text-muted"> | {{ post.created_at.strftime('%d %B, %Y') }} </span>
              </div>
              {% if post.author == current_user %}
              <div class="p-1">
                  <a href="{{ url_for('post_update', id=post.id) }}" class="text-primary"><i class="fas fa-edit"></i></a>
                  <a hx-post="{{ url_for('post_delete', id=post.id) }}" hx-confirm="Are you sure you wish to delete?" href="javascript:void(0)" class="text-danger"><i class="fas fa-trash"></i></a>
              </div>
              {% endif %}
            </div>
            <h3 class="mb-1"> {{ post.title }} </h3>
            <p class="card-text mb-auto"> {{ post.content }} </p>
            <a href=" {{ url_for('post_detail', id=post.id) }} ">Continue reading</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if posts.has_prev %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for('home', page=posts.prev_num) }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="{{ url_for('home', page=posts.prev_num) }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% endif %}

        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if page_num %}
            {% if posts.page == page_num %}
              <li class="page-item active" aria-current="page"><a class="page-link active" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a></li>
            {% endif %}          
          {% endif %}
        {% endfor %}
        {% if posts.has_next %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for('home', page=posts.next_num) }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
  <div class="col-md-4">
    <div class="position-sticky" style="top: 2rem;">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="fst-italic">About</h4>
        <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers,
          content, or something else entirely. Totally up to you.</p>
      </div>

      <div class="p-4">
        <h4 class="fst-italic">Archives</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#">March 2021</a></li>
          <li><a href="#">February 2021</a></li>
          <li><a href="#">January 2021</a></li>
          <li><a href="#">December 2020</a></li>
          <li><a href="#">November 2020</a></li>
          <li><a href="#">October 2020</a></li>
          <li><a href="#">September 2020</a></li>
          <li><a href="#">August 2020</a></li>
          <li><a href="#">July 2020</a></li>
          <li><a href="#">June 2020</a></li>
          <li><a href="#">May 2020</a></li>
          <li><a href="#">April 2020</a></li>
        </ol>
      </div>

      <div class="p-4">
        <h4 class="fst-italic">Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </div>
  </div>
</div>

{% endblock content %}