{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-header">
        <strong>{{ category.name }}</strong>
    </div>
    <ul class="list-group list-group-flush">

        {% for post in category.posts %}
            {% if post.is_public %}
            <li class="list-group-item">
                <a class="link" href="{{ url_for('posts.post_detail', id=post.id) }}">{{ post.title }}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% if not category.posts %}
        <div class="display-1 mx-auto text-secondary p-4">No Post Found!</div>
    {% endif %}
    
</div>
{% endblock %}