<div>
    <div>
        <div>
            <img src="{{ url_for('static', filename='profile_pic/' + comment.user.image) }}" alt="mdo" width="32"
                height="32" class="rounded-circle">
            <strong class="d-inline-block mb-2 text-primary"> {{ comment.user.username }} </strong>
            <span class="mb-1 text-muted"> | {{ post.created_at.strftime('%d %b, %Y') }} </span>
        </div>
        <p class="m-0">{{comment.text}}</p>
        <a class="" data-bs-toggle="collapse" href="#comment-{{comment.id}}" role="button" aria-expanded="false"
            aria-controls="collapseExample">
            <i class="fas fa-reply"></i>
        </a>
    </div>
    
    <div class="collapse w-50" id="comment-{{comment.id}}">
        <form class="reply" hx-post="{{ url_for('posts.reply_comment', post_id=post.id,comment_id=comment.id) }}">
            {{ replyForm.csrf_token }}
            <div class="form-group mt-2">
                {% if not current_user.is_authenticated %}
                <textarea 
                  class="form-control" 
                  id="reply" name="reply" 
                  rows="2" 
                  placeholder="Write a comment"
                  data-toggle="tooltip" 
                  data-placement="top" 
                  title="Please login first to reply" 
                  readonly required>
                </textarea>
              {% else %}
              {{replyForm.reply(class="form-control" ,placeholder="Reply")}}
              <button type="submit" class="reply-form btn btn-primary mt-2 btn-sm">
                <i class="fas fa-paper-plane"></i>
                Submit
            </button>
              {%endif%}
            </div>
        </form>
    </div>
</div>



