<div hx-target="this" hx-swap="outerHTML">
    <a class="text-decoration-none" hx-post="{{ url_for('posts.like_or_dislike', id=post.id) }}"
        href="javascript:void(0)">
        {% if post.user_has_like %}
            <i class="fas fa-heart fa-md text-danger"></i>
        {% else %}
            <i class="fas fa-heart fa-md text-secondary"></i>
        {% endif %}
    </a>
    <span class="ml-2">{{ post.total_likes or 0 }}</span>
</div>