<div class="row mb-4" hx-target="this"
hx-swap="afterend">
  <!--  Nested Comments -->
  {% if comment.level() == 0 %}
  <div class="col-12 border-start border-primary border-3">
    {% include 'posts/partial/comments.html' %}
    {% elif comment.level() == 1 %}
    <div class="col-11 offset-1 border-start border-secondary border-3">
      {% include 'posts/partial/comments.html' %}
      {% elif comment.level() == 2 %}
      <div class="col-10 offset-2 border-start border-success border-3">
        {% include 'posts/partial/comments.html' %}
        {% elif comment.level() == 3 %}
        <div class="col-9 offset-3 border-start border-info border-3">
          {% include 'posts/partial/comments.html' %}
          {% elif comment.level() == 4 %}
          <div class="col-8 offset-4 border-start border-primary border-3">
            {% include 'posts/partial/comments.html' %}
            {% else %}
              <div class="col-7 offset-5 border-start border-danger border-3">
                <div class="mb-2">
                  <div>
                      <img src="{{ url_for('static', filename='profile_pic/' + comment.user.image) }}" alt="mdo" width="32"
                          height="32" class="rounded-circle">
                      <strong class="d-inline-block mb-2 text-primary"> {{ comment.user.username }} </strong>
                      <span class="mb-1 text-muted"> | {{ comment.created_at.strftime('%d %b, %Y') }} </span>
                  </div>
                  <p class="m-0">{{comment.text}}</p>
              </div>
            {% endif %}
              <!-- ./ Nested Comments -->
              
  </div> <!-- ./ col -->
</div> <!--  ./ row -->

{% block page_wise_js %}
<script>
  $( ".reply" ).submit(function( event ) {
    event.preventDefault();
    $(this).parent().removeClass('show')
  });
</script> 
{% endblock page_wise_js %}
